@import "../_utils.scss";

.articleContainer {
  padding: 60px 10%;
  background-color: $whiteColor;

  @include xl {
    padding: 60px 20%;
  }
}

.cardListContainer {
  padding: 0 3%;
}

.articleTitleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.articleTutorialTitle {
  font-size: 42px;
  color: $primaryColor;
  margin: 0;
}

.articleTutorialDescription {
  color: $grayMedium;
  font-weight: 500;
  font-size: 18px;
}

.cardContainer {
  border-radius: 0px !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s !important;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
  }

  & img {
    height: 196px !important;
  }
}

.cardTitleContainer {
  display: inline-block;
  box-sizing: border-box;
  white-space: pre-line;
  word-wrap: break-word;

  & .cardTitle {
    color: $darkColor !important;
    font-family: $mainFont !important;
    font-size: 19px !important;
    font-weight: 600 !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.cardDescription {
  display: inline-block;
  box-sizing: border-box;
  white-space: pre-line;
  word-wrap: break-word;

  & p {
    color: $grayMedium !important;
    font-family: $mainFont !important;
    font-size: 14px !important;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
