@import "../_utils.scss";

.joinUsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 110px;
  align-items: center;
  background-color: $softPrimaryColor;

  & h1 {
    width: 600px;
    text-align: center;
    font-size: 48px;
  }

  & button {
    height: 50px;
    width: 180px;
    font-size: 17px;
  }
}
