@import "../_utils.scss";

.grow {
  flex-grow: 1;
}

.menuButton {
  margin-right: -42px !important;
  color: $darkColor !important;
}

.sectionDesktop {
  display: flex !important;

  @include xs {
    display: none !important;
  }
}

.sectionMobile {
  display: none !important;

  @include xs {
    display: flex !important;
  }
}

.navbar {
  background: white !important;
  height: 72px;
  display: flex;
  justify-content: center;
  color: $darkColor;
  padding: 0 7.7%;

  @include xl {
    padding: 0 20%;
  }
}

.textMenu {
  font-size: 14px !important;
  margin-right: 32px !important;
  color: $grayColor !important;
  font-weight: bold !important;
  display: block;
  @include sm {
    display: none;
  }
  &:hover {
    cursor: pointer;
    color: #6b6b6b !important;
  }
}

.navbarTitle {
  color: $darkColor;
  font-weight: bold;
  font-size: 18px;
}

.logo {
  height: 55px;

  @include xs {
    margin-left: -46px;
  }
  @include xl {
    margin-left: -37px;
  }
}
