@import "./media-queries";

$darkColor: #18191f;
$darkContrastColor: #0b0d17;
$primaryColor: #5c16ad;
$secondaryColor: #8c30f5;
$softPrimaryColor: #f1e4ff;
$whiteColor: #fff;
$blackColor: #000;
$grayColor: #4c4c4d;
$grayMedium: #696969;
$grayLight: #d9dbe1;
$mainFont: "Manrope", sans-serif !important;

.btn {
  height: 40px;
  min-width: 100px !important;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold !important;
  text-transform: none !important;
}

.text-center {
  text-align: center;
}

.btnPrimary {
  background: #8c30f5 !important;
  color: white !important;
  &:hover {
    background: #f1e4ff !important;
    color: #8c30f5 !important;
  }
}

.btnSecondary {
  background: #f1e4ff !important;
  color: #8c30f5 !important;
  &:hover {
    background: #8c30f5 !important;
    color: white !important;
  }
}

//display

.displayNone {
  display: none;
}

.displayVisible {
  display: block;
}

//flex

.dFlex {
  display: flex;
}

.justifyContentCenter {
  justify-content: center;
}

.alignItemsCenter {
  align-items: center;
}

.flexColumn {
  flex-direction: column;
}

.flexWrap {
  flex-wrap: wrap;
}

//margin-utils

.mb3 {
  margin-bottom: 15px;
}

.mb2 {
  margin-bottom: 10px;
}

.mb1 {
  margin-bottom: 5px;
}

.mt3 {
  margin-top: 15px;
}

.mt2 {
  margin-top: 10px;
}

.mt1 {
  margin-top: 5px;
}

.ml3 {
  margin-left: 15px;
}

.ml2 {
  margin-left: 10px;
}

.ml1 {
  margin-left: 5px;
}

.mr3 {
  margin-right: 15px;
}

.mr2 {
  margin-right: 10px;
}

.mr1 {
  margin-right: 5px;
}

//my custom heading

.headingLarge {
  font-size: 42px;
  margin: 0;
}

.headingMedium {
  font-size: 36px;
  margin: 0;
}

.headingSmall {
  font-size: 24px;
  margin: 0;
}

//my custom text color

.textPrimary {
  color: $primaryColor;
}

.textPrimarySoft {
  color: $softPrimaryColor;
}

.textSecondary {
  color: $primaryColor;
}

.textBlack {
  color: $blackColor;
}

.textGray {
  color: $grayColor;
}

.textGrayMedium {
  color: $grayMedium;
}

.textGrayLight {
  color: $grayLight;
}

.textWhite {
  color: $whiteColor;
}

.textCenter {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

//my custom bg color

.bgPrimary {
  background: $primaryColor;
}

.bgPrimarySoft {
  background: $softPrimaryColor;
}

.bgSecondary {
  background: $primaryColor;
}

.bgBlack {
  background: $blackColor;
}

.bgGray {
  background: $grayColor;
}

.bgGrayMedium {
  background: $grayMedium;
}

.bgGrayLight {
  background: $grayLight;
}

.bgWhite {
  background: $whiteColor;
}

.text-title {
  font-size: 18px;
  color: $darkColor;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.mb-3 {
  margin-bottom: 15px;
}

.mt-3 {
  margin-top: 15px;
}

.mr-3 {
  margin-right: 15px;
}

.ml-3 {
  margin-left: 15px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mt-2 {
  margin-top: 10px;
}

.mr-2 {
  margin-right: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mt-1 {
  margin-top: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.ml-1 {
  margin-left: 5px;
}
